.navbar {
    background-color: #8b6b4f;
}

.form-inline .btn-outline-success {
    color: #cab896;
    border-color: #cab896;
}

.form-inline .btn-outline-success:hover {
    color: #1f1e23;
    background-color: #cab896;
    border-color: #1f1e23;
}

.btn-outline-success:not(:disabled):not(.disabled):active {
     color: #cab896;
     background-color: #1f1e23  ;
     border-color: #cab896;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(11, 11, 20,.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bold;
    /*text-shadow: -0.5px 0 #cab896, 0 0.5px #cab896, 0.5px 0 #cab896, 0 -0.5px #cab896;*/
}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    margin-top: 50px;
    text-align: center;
}

.event {
    display: inline-block;
    padding: 20px;
    position: relative;
}

.eventImg {
    /*background-image: url("https://e7.pngegg.com/pngimages/111/300/png-clipart-ticket-computer-icons-others-logo-black.png");*/
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}

.eventName {
    margin-top: 20px;
    text-align: center;
    font: 20px sans-serif
}

.eventButton {
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    background-color: #cab896;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 25%;
}

.mainEvent {
    margin-top: 50px;
}